@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}
.container {
    width: 60%;
    margin: 90px auto;
    border-radius: 10px;
    background-color: rgba(127, 208, 255, 0.212);
    padding: 4em;
}
table {
    margin-bottom: 44px;
    width: 100%;
}
table:last-child {
    margin-bottom: 0;
}
th, td {
    padding-bottom: 22px;
    vertical-align: top;
}
th {
    padding-right: 45px;
    text-align: right;
    width: 20%;
}
td {
    width: 40%;
}
thead {
    line-height: 44px;
}
thead th {
    color: #648880;
    font-size: 24px;
}
tbody th {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    padding-top: 22px;
    text-transform: uppercase;
}
tbody td {
    padding-top:21px;
    border-top: 1px solid #b0b3b6;
}
tbody td:first-of-type {
    padding-right: 15px;
}
tbody td:last-of-type {
    padding-left: 15px;
}
tbody td:only-of-type {
    padding-left: 0;
    padding-right: 0;
}
table a {
    color: #888;
    text-decoration: none;
}
table a:hover {
    opacity: .4;
}
table h4 {
    margin-bottom: 0;
    color: rgba(0, 195, 255, 0.836);
    font-weight: bold;
}
.schedule-offset {
    color: #a9b2b9;
}